.intro {
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 1513px;
    padding-bottom: 90px;
    background: url("../img/intro-backgraund.png") no-repeat;
    margin-top: 33px;
    background-position: center;
    background-size: cover;
    &__inner {
        width: 1050px;
        margin: auto;
    }
    &__title {
        margin-top: 88px;
        font-style: normal;
        font-weight: bold;
        font-size: 39px;
        line-height: 46px;
        color: #ffffff;
    }

    &__text {
        display: block;
        margin-top: 57px;
        font-style: normal;
        font-weight: normal;
        font-size: 26px;
        line-height: 31px;
        color: #ffffff;
    }

    & .b24-form {
        max-width: 570px;
        margin-top: 100px;
        &-content {
            bottom: 0;
            padding: 0;
        }
        &-field {
            margin-bottom: 0 !important;
            border-radius: 13.0492px !important;
        }
        &-btn {
            height: 63.29px;
            &-block {
                height: 63.29px;
                padding: 0 !important;
                border-radius: 13.0492px;
                overflow: hidden;
                width: 207.48px;
            }
        }
        &-control {
            background: #ffffff !important;
            border-radius: 13.0492px !important;
            width: 337.32px !important;
            height: 63px !important;
            &-container {
                margin-bottom: 0 !important;
                background: #ffffff !important;
                border-radius: 13.0492px !important;
            }
        }
        &-input {
            border-radius: 13.0492px !important;
        }
        &-wrapper {
            min-height: auto;
            background-color: transparent;
            border: none !important;
            padding: 0;
            box-shadow: none !important;
            & form {
                display: flex;
                justify-content: space-between;
            }
        }
    }
    & .b24-form-header-padding,
    .b24-form-state-container {
        display: none;
    }

    &__form-input {
        font-style: normal;
        font-weight: normal;
        font-size: 17.6164px;
        line-height: 21px;
        color: #878787;
        padding-left: 23px;
        border-radius: 13.0492px;
        width: 337.32px;
        height: 63.29px;
        border: none;
        &::placeholder {
            opacity: 1;
        }
    }

    &__form-button {
        background: #5374ca;
        border-radius: 13px;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        border: none;
        color: #ffffff;
        height: 63px;
        width: 208px;
        cursor: pointer;
    }
}

@media screen and (max-width: 1100px) {
    .intro {
        padding-left: 20px;
        padding-right: 20px;
        &__inner {
            max-width: 100%;
        }
    }
}

@media screen and (max-width: 660px) {
    .intro {
        padding-bottom: 30px;
        & .b24-form {
            & form {
                flex-direction: column;
            }
            &-control-container {
                max-width: 509px !important;
                margin: auto;
            }
            &-btn-block {
                margin: auto;
                margin-top: 20px !important;
                max-width: 509px;
            }
        }
    }
}
