.intro {
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 1513px;
    padding-bottom: 90px;
    background: url("../img/intro-backgraund.png") no-repeat;
    margin-top: 33px;
    background-position: center;
    background-size: cover;
    &__inner {
        width: 1050px;
        margin: auto;
    }
    &__title {
        margin-top: 88px;
        font-style: normal;
        font-weight: bold;
        font-size: 39px;
        line-height: 46px;
        color: #ffffff;
    }

    &__text {
        display: block;
        margin-top: 57px;
        font-style: normal;
        font-weight: normal;
        font-size: 26px;
        line-height: 31px;
        color: #ffffff;
    }

    &__form {
        display: flex;
        max-width: 570px;
        justify-content: space-between;
        margin-top: 100px;
    }

    &__form-input {
        font-style: normal;
        font-weight: normal;
        font-size: 17.6164px;
        line-height: 21px;
        color: #878787;
        padding-left: 23px;
        border-radius: 13.0492px;
        width: 337.32px;
        height: 63.29px;
        border: none;
        &::placeholder {
            opacity: 1;
        }
    }

    &__form-button {
        background: #5374ca;
        border-radius: 13px;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        border: none;
        color: #ffffff;
        height: 63px;
        width: 208px;
        cursor: pointer;
    }
}

@media screen and (max-width: 1100px) {
    .intro {
        padding-left: 20px;
        padding-right: 20px;
        &__inner {
            max-width: 100%;
        }
    }
}

@media screen and (max-width: 660px) {
    .intro {
        padding-bottom: 30px;
        &__form {
            flex-direction: column;
            margin-top: 60px;
            &-button {
                margin-top: 30px;
            }
        }
    }
}
