.license {
    max-width: 1053px;
    margin: auto;
    margin-top: 75px;
    &__title {
        font-style: normal;
        font-weight: bold;
        font-size: 35.8853px;
        line-height: 42px;
        text-align: center;

        color: #000000;
        &_margin {
            margin-top: 167px;
        }
    }

    &__text {
        margin-top: 30px;
        font-style: normal;
        font-weight: normal;
        font-size: 22px;
        line-height: 26px;

        color: #000000;
    }
}
.license-list {
    display: flex;
    flex-direction: column;
    &__item {
        display: flex;
        justify-content: space-between;
        max-width: 1053px;
        border: 1px solid #cccccc;
        margin-top: 50px;
        border-radius: 19.5738px;
    }

    &__item-inner {
    }

    &__item-text {
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 21px;
        color: #000000;
        margin-left: 36px;
        margin-top: 20px;
        max-width: 398px;
        &_blue {
            font-weight: bold;
            font-size: 21.5312px;
            line-height: 25px;
            color: #5374ca;
        }
    }

    &__item-img {
        border-radius: 0px 20px 20px 0px;
        max-width: 532px;
        max-height: 210px;
    }
}
.license-interval {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(0deg, #ffffff, #ffffff);
    box-shadow: 0px 2.60984px 26.0984px #e6e8ed;
    border-radius: 19.5738px;
    height: 212px;
    margin-top: 52px;
    position: relative;
    padding-left: 37px;
    padding-right: 37px;
    &__text-num {
        font-style: normal;
        font-weight: bold;
        font-size: 25px;
        line-height: 29px;
        color: #ffffff;
        background: #5374ca;
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100px;
        position: relative;
    }
    &__text {
        font-style: normal;
        font-weight: 500;
        font-size: 22px;
        line-height: 26px;
        color: #000000;
    }
    &__inner-num {
        position: relative;
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: space-between;
        &::before {
            content: "";
            display: block;
            position: absolute;
            top: 21px;
            left: 0;
            width: 100%;
            height: 8px;
            background-color: #5374ca;
        }
    }
}
.license-list-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 87px;
    height: 1291px;
    row-gap: 50px;
    column-gap: 50px;

    &__item-card {
        display: flex;
        flex-direction: column;
        width: 500px;

        justify-content: center;
        align-items: center;
        border: 1px solid #b0b0b0;
        box-sizing: border-box;
        border-radius: 20px;

        &_width {
            width: 1050px;
        }
    }

    &__item-card-inner {
    }

    &__item-card-img {
        margin-top: 25px;
    }

    &__item-card-text {
        margin-top: 34px;
        width: 400px;
        font-weight: normal;
        font-size: 18px;
        line-height: 21px;
        text-align: center;

        color: #000000;
        &_width {
            width: 800px;
        }
    }
}
