.rules {
    display: flex;
    flex-direction: column;
    max-width: 1050px;
    margin: auto;
    margin-top: 77px;
    &__text-m {
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 21px;
        color: #000000;
    }
    &__img {
        position: absolute;
        left: calc(50% - 20px);
        top: -32px;
        &_top {
            top: -20px;
        }
    }

    &__text-grey {
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        color: #5c6272;
    }

    &__text-l {
        margin-top: 78px;
        font-style: normal;
        font-weight: normal;
        font-size: 22px;
        line-height: 26px;
        color: #000000;
        max-width: 1006px;
        margin-bottom: 50px;
    }
}
.rules-inner {
    position: relative;
}
.rules-inner-grey {
    position: relative;
    margin-top: 78px;
    border: 2px solid #c4c9d5;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    padding: 40px 55px 40px 40px;
    &::before {
        content: "";
        display: block;
        position: absolute;
        top: -20px;
        background-color: #ffffff;
        width: 80px;
        height: 35px;
        left: calc(50% - 40px);
    }
}

.rules-list {
    display: flex;
    justify-content: space-between;
    &__item {
        display: block;
        max-width: 500px;
        justify-content: center;
        margin-top: 40px;
        align-items: center;
        background: linear-gradient(0deg, #eff2f8, #eff2f8), url(image.png);
        border-radius: 19.3327px;
        padding: 30px 60px 50px 60px;
    }

    &__item-text-num {
        font-style: normal;
        font-weight: 900;
        font-size: 32.2212px;
        line-height: 38px;
        width: 69.6px;
        height: 69.6px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #ffffff;
        border-radius: 100px;
        color: #5374ca;
        margin: auto;
    }

    &__item-text {
        margin-top: 41px;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 120%;
        text-align: center;
        color: #000000;
        &_sm {
            padding-left: 15px;
            padding-right: 15px;
        }
    }
}

@media screen and (max-width: 1100px) {
    .rules {
        padding-left: 20px;
        padding-right: 20px;
        &-list {
            &__item {
                max-width: 48%;
            }
        }
    }
}

@media screen and (max-width: 660px) {
    .rules {
        &-list {
            flex-direction: column;
            &__item {
                max-width: 100%;
            }
        }
    }
}
