.rules {
    display: flex;
    flex-direction: column;
    width: 1050px;
    margin: auto;
    margin-top: 77px;
    background: #e5e5e5;

    &__text-m {
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 21px;

        color: #000000;
    }
    &__img {
        position: absolute;
        left: 498px;
        top: -32px;
    }

    &__text-grey {
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;

        color: #5c6272;
        padding-left: 40px;
        padding-top: 40px;
        padding-right: 55px;
    }

    &__text-l {
        margin-top: 78px;
        font-style: normal;
        font-weight: normal;
        font-size: 22px;
        line-height: 26px;

        color: #000000;
    }
}
.rules-inner {
    position: relative;
}
.rules-inner-grey {
    position: relative;
    margin-top: 78px;
    border: 2px solid #c4c9d5;
    box-sizing: border-box;
    height: 156px;
    align-items: center;
    justify-content: center;
}

.rules-list {
    display: flex;
    justify-content: space-between;
    &__item {
        display: block;
        width: 500px;
        height: 281px;
        justify-content: center;
        margin-top: 40px;
        align-items: center;

        background: linear-gradient(0deg, #eff2f8, #eff2f8), url(image.png);
        border-radius: 19.3327px;
    }

    &__item-text-num {
        margin-top: 51px;
        font-style: normal;
        font-weight: 900;
        font-size: 32.2212px;
        line-height: 38px;
        text-align: center;

        color: #5374ca;
    }

    &__item-text {
        margin-top: 41px;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 120%;

        /* or 22px */
        text-align: center;

        color: #000000;
    }
}
