*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Roboto";
}

.intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
  max-width: 1513px;
  padding-bottom: 90px;
  background: url("../img/intro-backgraund.png") no-repeat;
  margin-top: 33px;
  background-position: center;
  background-size: cover;
}

.intro__inner {
  width: 1050px;
  margin: auto;
}

.intro__title {
  margin-top: 88px;
  font-style: normal;
  font-weight: bold;
  font-size: 39px;
  line-height: 46px;
  color: #ffffff;
}

.intro__text {
  display: block;
  margin-top: 57px;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 31px;
  color: #ffffff;
}

.intro__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 570px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 100px;
}

.intro__form-input {
  font-style: normal;
  font-weight: normal;
  font-size: 17.6164px;
  line-height: 21px;
  color: #878787;
  padding-left: 23px;
  border-radius: 13.0492px;
  width: 337.32px;
  height: 63.29px;
  border: none;
}

.intro__form-input::-webkit-input-placeholder {
  opacity: 1;
}

.intro__form-input:-ms-input-placeholder {
  opacity: 1;
}

.intro__form-input::-ms-input-placeholder {
  opacity: 1;
}

.intro__form-input::placeholder {
  opacity: 1;
}

.intro__form-button {
  background: #5374ca;
  border-radius: 13px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  border: none;
  color: #ffffff;
  height: 63px;
  width: 208px;
  cursor: pointer;
}

@media screen and (max-width: 1100px) {
  .intro {
    padding-left: 20px;
    padding-right: 20px;
  }
  .intro__inner {
    max-width: 100%;
  }
}

@media screen and (max-width: 660px) {
  .intro {
    padding-bottom: 30px;
  }
  .intro__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 60px;
  }
  .intro__form-button {
    margin-top: 30px;
  }
}

.rules {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 1050px;
  margin: auto;
  margin-top: 77px;
}

.rules__text-m {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}

.rules__img {
  position: absolute;
  left: calc(50% - 20px);
  top: -32px;
}

.rules__img_top {
  top: -20px;
}

.rules__text-grey {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #5c6272;
}

.rules__text-l {
  margin-top: 78px;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  max-width: 1006px;
  margin-bottom: 50px;
}

.rules-inner {
  position: relative;
}

.rules-inner-grey {
  position: relative;
  margin-top: 78px;
  border: 2px solid #c4c9d5;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 40px 55px 40px 40px;
}

.rules-inner-grey::before {
  content: "";
  display: block;
  position: absolute;
  top: -20px;
  background-color: #ffffff;
  width: 80px;
  height: 35px;
  left: calc(50% - 40px);
}

.rules-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.rules-list__item {
  display: block;
  max-width: 500px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left bottom, left top, from(#eff2f8), to(#eff2f8)), url(image.png);
  background: -webkit-linear-gradient(bottom, #eff2f8, #eff2f8), url(image.png);
  background: -o-linear-gradient(bottom, #eff2f8, #eff2f8), url(image.png);
  background: linear-gradient(0deg, #eff2f8, #eff2f8), url(image.png);
  border-radius: 19.3327px;
  padding: 30px 60px 50px 60px;
}

.rules-list__item-text-num {
  font-style: normal;
  font-weight: 900;
  font-size: 32.2212px;
  line-height: 38px;
  width: 69.6px;
  height: 69.6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #ffffff;
  border-radius: 100px;
  color: #5374ca;
  margin: auto;
}

.rules-list__item-text {
  margin-top: 41px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 120%;
  text-align: center;
  color: #000000;
}

.rules-list__item-text_sm {
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (max-width: 1100px) {
  .rules {
    padding-left: 20px;
    padding-right: 20px;
  }
  .rules-list__item {
    max-width: 48%;
  }
}

@media screen and (max-width: 660px) {
  .rules-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .rules-list__item {
    max-width: 100%;
  }
}

.license {
  max-width: 1053px;
  margin: auto;
}

.license__title {
  font-style: normal;
  font-weight: bold;
  font-size: 35.8853px;
  line-height: 42px;
  text-align: center;
  margin-top: 75px;
  color: #000000;
}

.license__title_margin {
  margin-top: 167px;
}

.license__text {
  margin-top: 30px;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
}

.license-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.license-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1053px;
  border: 1px solid #cccccc;
  margin-top: 50px;
  border-radius: 19.5738px;
  overflow: hidden;
}

.license-list__item-inner {
  padding-bottom: 20px;
}

.license-list__item-text {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  margin-left: 36px;
  margin-top: 20px;
  max-width: 398px;
}

.license-list__item-text_blue {
  font-weight: bold;
  font-size: 21.5312px;
  line-height: 25px;
  color: #5374ca;
}

.license-list__item-img {
  max-width: 532px;
  max-height: 210px;
}

.license-interval {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: -webkit-gradient(linear, left bottom, left top, from(#ffffff), to(#ffffff));
  background: -webkit-linear-gradient(bottom, #ffffff, #ffffff);
  background: -o-linear-gradient(bottom, #ffffff, #ffffff);
  background: linear-gradient(0deg, #ffffff, #ffffff);
  -webkit-box-shadow: 0px 2.60984px 26.0984px #e6e8ed;
          box-shadow: 0px 2.60984px 26.0984px #e6e8ed;
  border-radius: 19.5738px;
  height: 212px;
  margin-top: 52px;
  position: relative;
  padding-left: 37px;
  padding-right: 37px;
}

.license-interval__text-num {
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 29px;
  color: #ffffff;
  background: #5374ca;
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 100px;
  position: relative;
}

.license-interval__text {
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
}

.license-interval__inner-num {
  position: relative;
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.license-interval__inner-num::before {
  content: "";
  display: block;
  position: absolute;
  top: 21px;
  left: 0;
  width: 100%;
  height: 8px;
  background-color: #5374ca;
}

.license-list-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 87px;
}

.license-list-card__item-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 500px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #b0b0b0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 20px;
  margin-bottom: 35px;
  padding: 25px 30px 25px 30px;
}

.license-list-card__item-card_width {
  max-width: 1050px;
  width: 100%;
  padding-left: 50px;
  padding-right: 50px;
}

.license-list-card__item-card-text {
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #000000;
  margin-top: 20px;
}

@media screen and (max-width: 1100px) {
  .license {
    padding-left: 20px;
    padding-right: 20px;
  }
  .license-list__item-inner {
    width: 50%;
    padding-right: 20px;
  }
  .license-list__item-img {
    width: 50%;
  }
  .license-list-card__item-card {
    width: 47%;
  }
  .license-list-card__item-card_width {
    width: 100%;
  }
}

@media screen and (max-width: 860px) {
  .license-list {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .license-list__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 550px;
  }
  .license-list__item-text {
    margin-left: 15px;
  }
  .license-list__item-inner {
    width: 100%;
  }
  .license-list__item-img {
    width: 100%;
    max-width: 100%;
  }
}

@media screen and (max-width: 660px) {
  .license-list-card__item-card {
    width: 100%;
    max-width: 100%;
  }
}

.tariff {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 1050px;
  margin: auto;
  margin-top: 70px;
  margin-bottom: 50px;
}

.tariff__title {
  font-weight: bold;
  font-size: 35px;
  line-height: 41px;
  text-align: center;
  color: #000000;
}

.tariff__text {
  margin-top: 44px;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  max-width: 692px;
}

.tariff-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 50px;
  background: -webkit-gradient(linear, left bottom, left top, from(#ffffff), to(#ffffff)), url(image.png);
  background: -webkit-linear-gradient(bottom, #ffffff, #ffffff), url(image.png);
  background: -o-linear-gradient(bottom, #ffffff, #ffffff), url(image.png);
  background: linear-gradient(0deg, #ffffff, #ffffff), url(image.png);
  -webkit-box-shadow: 0px 2.60984px 26.0984px #e6e8ed;
          box-shadow: 0px 2.60984px 26.0984px #e6e8ed;
  border-radius: 19.5738px;
  padding: 40px 60px 40px 60px;
}

.tariff-form__text {
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  margin-bottom: 40px;
}

.tariff-form__label-input {
  display: block;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #878787;
  border: 1px solid #b0b0b0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  width: 100%;
  height: 50px;
  padding-left: 20px;
  margin-bottom: 20px;
}

.tariff-form__label-input::-webkit-input-placeholder {
  opacity: 1;
}

.tariff-form__label-input:-ms-input-placeholder {
  opacity: 1;
}

.tariff-form__label-input::-ms-input-placeholder {
  opacity: 1;
}

.tariff-form__label-input::placeholder {
  opacity: 1;
}

.tariff-form__button {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
  background: #5374ca;
  border-radius: 13px;
  border: none;
  cursor: pointer;
}

.tariff-form__button_size {
  width: 228px;
  height: 54px;
}

@media screen and (max-width: 660px) {
  .tariff-form {
    padding: 15px;
  }
}
/*# sourceMappingURL=style.css.map */